@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

body {
  background-color: whitesmoke;
  p {
    margin: 0;
    padding: 0;
  }
}

ul {
  list-style-type: none;
}

.app-header {
  min-height: 4px;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px;
}

.todo-list {
  padding: 0;
}

.todo-item {
  margin-bottom: 3px;
  .date-container {
    padding: 3px;
    font-size: 12px;
    color: #999;
    margin: 10px;
  }
  .description {
    font-size: 19px;
    @media (max-width: $md) {
      font-size: 16px;
    }
  }
}

.pagination {
  padding-top: 10px;
}

.snack-bar-container {
  position: fixed;
  bottom: 0;
  .snack-bar-item {
    margin-bottom: 10px;
  }
}

.breadcrumb {
  p{
    font-size: 14px;
    @media (max-width: $sm) {
      font-size: 12px;
    }
  }
}
